<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
    <title>Tulos</title>
</head>
<body>
        <div class="heading"><h1>Haetut tiedot:</h1></div>
        <div class="main">
            <div class="hakutulokset">
            <p>Numero: <%= kissa.numero %></p>
            <p>Nimi: <%= kissa.nimi %></p>
            <p>Rotu: <%= kissa.rotu %></p>
            <p>PainoKg: <%= kissa.painoKg %></p>
            <p>Pituus: <%= kissa.pituus %></p>
            </div>
            <div class="valikkoonBtn">
            <a href="/"><button class="buttonValikkoon">Valikkoon</button></a>
            </div>
        </div>
        
    </div>
</body>
</html>